body{
    font-family: 'Poppins', sans-serif;
    margin: 30px 130px;
}
p{
    color: #3E3E3E;
    font-size: 18px;
    font-weight: normal;
}
.heading-color{
    color:#FFAD5A 
}
.top-heading-design{
    border-left: 5px solid #ff5959;
    padding-left: 5px;
    font-size: 48px;
    font-family: 'Yeseva One', serif;
    font-weight: normal;
}
.display-flex{
    display: flex;
    margin: 10px;
    margin-bottom: 5px;
}
.half-width{
    width: 100%;
    padding: 10px 10px;

}
.half-width img{
    width: 75%;
}
.button{
    font-size: 18px;
    font-weight: 500;
    background-color: #ff5959;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5%;
}
.heading-in-sec2{
    font-size: 48px;
    font-family: Poppins;
    text-align: center;
}
.subsection-mvg{
    width: 90%;
}
.subsection-mvg img{
width: 40% ;
}
.column{
    border: 1px solid none;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 10px;
}
#mission{
    background: rgba(79, 157, 166, 0.1) 
}
#vision{
    background: rgba(255, 89, 89, 0.1);
}
#goals{
    background-color: #FFF4D6;
}
.margin-bottom{
    margin-bottom: 60px;
}
.sec-3{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 227px 227px;
    background-position: left center;
}
.sec-4{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: bottom right;  
}